.container {
  display: flex;
  min-height: 100vh;
}

.sidebarWrapper {
  flex-shrink: 0;
  width: 270px;
  background-color: var(--white);
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}

.contentWrapper {
  flex: 1;
  min-width: 0; /* Prevents overflow issues */
  /* padding: 32px; */ /* Padding is handled by individual pages */
}