.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  
  /* UNIFIED DARK BACKGROUND */
  background-color: #0f0f0f; 
  color: #d1d4dc;
  overflow: hidden;
}

/* Header spanning full width */
.headerArea {
  border-bottom: 1px solid #242832;
  background-color: #0f0f0f; 
  z-index: 10;
  height: 50px;
}

/* Main Chart Area */
.chartArea {
  position: relative;
  background-color: #0f0f0f;
  border-right: 1px solid #242832; 
  height: 100%;
  
  display: flex;
}

/* Renamed from sidebarArea */
.railArea {
  background-color: transparent;

  position: relative;
  left: 0px;
  top: 0px;
  height: 100%;

  display: flex;
  align-items: flex-start;
  overflow: none;
  z-index: 100;

  >.market_activity {
    height: 100%;
    width: 100%;
  }
}

.historyPanel {
  position: absolute;
  left: 50px;
  top: 0px;
  width: 300px;
  height: 100%;
  /* margin-left: 300px; */
  z-index: 1000;
}

.chartWrapper {
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%;
}

.orderForm {
  width: 100%;
  position: absolute;
  bottom: 0px;
  /* width: 200px; */
  background-color: transparent;
  /* height: 40px; */
  z-index: 100000;
}