.header {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 16px;
  /* 1. Unified Background */
  background-color: #0f0f0f;
  /* 2. Seamless Border */
  color: #d1d4dc;
  font-family: 'Roboto', sans-serif;
}

/* Left Group (Symbol Info) */
.leftGroup {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  text-transform: capitalize;
  width: 32px;
  height: 32px;
  background-color: #242832;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

.symbolInfo {
  height: 90%;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.seperator {
  height: 15px;
  background-color: var(--grey-400);
  width: 1px;
}

.green { color: #0ecb81; }
.red { color: #f6465d; }

/* Right Group (Wallet/Account) */
.rightGroup {
  display: flex;
  align-items: center;
  gap: 16px;

  margin-left: auto;
}

.iconBtn {
  cursor: pointer;
  fill: var(--grey-400)
}

/* --- WALLET STYLES --- */
.walletBadge {
  display: flex;
  align-items: center;

  width: auto;
  background-color: #0f0f0f; 
  border: 1px solid #242832; 
  border-radius: 4px;
  padding: 4px 4px 4px 12px;
  gap: 12px;
  transition: border-color 0.2s;
}

.walletBadge:hover {
  border-color: #484d59;
}

.walletAmount {
  color: var(--brand-green); /* Neutral white for amount, or green if preferred */
  font-weight: 500;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}

/* Deposit Plus Button */
.depositBtn {
  background-color: #f0b90b; /* Binance Yellow */
  color: #1e2329;
  border: none;
  border-radius: 4px;
  font-weight: medium;
  font-size: 12px;
  height: 24px;
  padding-inline: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 1.6rem;
}

.depositBtn:hover {
  background-color: #d9a506;
}

/* Profile Icon */
.profileIcon {
  width: 32px;
  height: 32px;
  background: #242832; /* Grid color for avatar bg */
  color: #848e9c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}